hr {
    width: 18rem;
}

.cell {
    min-width: 13rem !important;
}

.head {
    font-weight: 500;
    background-color: orange !important;
    color: white!important;
    font-size: 0.9rem !important;
}