<div class="d-flex flex-wrap justify-content-around m-2">
    <mat-card class="text-center">
        <mat-card-title>
            Find Online Status
        </mat-card-title>
        <mat-card-subtitle>
            Enter find online status
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="onlineStatus">
                <mat-form-field class="w-75">
                    <mat-label> in seconds</mat-label>
                    <input matInput type="number" formControlName="onlineStatus" required>
                    <mat-error>
                        Online status should be between 5-1275 and only in multiples of 5.
                    </mat-error>
                </mat-form-field>
            </form> <br>
            <button class="btn" mat-raised-button [disabled]="!onlineStatus.valid" (click)="onSubmitOnlineStatus(onlineStatus.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Find Offline Status
        </mat-card-title>
        <mat-card-subtitle>
            Enter find offline status
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="offlineStatus">
                <mat-form-field class="w-75">
                    <mat-label> in seconds</mat-label>
                    <input matInput type="number" formControlName="offlineStatus">
                    <mat-error>
                        Offline status should be between 5-1275 and only in multiples of 5.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!offlineStatus.valid" (click)="onSubmitOfflineStatus(offlineStatus.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Set RSSI
        </mat-card-title>
        <mat-card-subtitle>
            Enter RSSI value.
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="rssiForm">
                <mat-form-field class="w-75">
                    <mat-label> Set rssi value</mat-label>
                    <input matInput type="number" formControlName="rssi" required>
                    <mat-error>
                        RSSI value should be between 0-255.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!rssiForm.valid" (click)="onSubmitRssi(rssiForm.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Define coin transmission power
        </mat-card-title>
        <mat-card-subtitle>
            Enter tx power
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="txPowerForm">
                <mat-form-field class="w-75">
                    <mat-label> Choose tx power</mat-label>
                    <mat-select formControlName="txPower" required>
                        <mat-option value="4A">4A</mat-option>
                        <mat-option value="4B">4B</mat-option>
                        <mat-option value="4C">4C</mat-option>
                        <mat-option value="4D">4D</mat-option>
                    </mat-select>
                    <mat-error>
                        Choose valid transmission power.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!txPowerForm.valid" (click)="onSubmitTxPower(txPowerForm.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Configure Merging Time
        </mat-card-title>
        <mat-card-subtitle>
            Enter merging time
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="mergingTimeForm">
                <mat-form-field class="w-75">
                    <mat-label> in minutes</mat-label>
                    <input matInput type="number" formControlName="mergingTime" required>
                    <mat-error>
                        Merging time value should be between 0-60.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!mergingTimeForm.valid" (click)="onSubmitMergingTime(mergingTimeForm.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Configure Deletion Time
        </mat-card-title>
        <mat-card-subtitle>
            Enter deletion time.
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="deletionTimeForm">
                <mat-form-field class="w-75">
                    <mat-label> in minutes</mat-label>
                    <input matInput type="number" formControlName="deletionTime" required>
                    <mat-error>
                        Deletion time value should be between 0-60.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!deletionTimeForm.valid" (click)="onSubmitDeletionTime(deletionTimeForm.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="text-center">
        <mat-card-title>
            Configure In-Out Merging Time
        </mat-card-title>
        <mat-card-subtitle>
            Enter In-Out merging time.
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="inOutmergingTimeForm">
                <mat-form-field class="w-75">
                    <mat-label> in minutes</mat-label>
                    <input matInput type="number" formControlName="inOutMergeTime" required>
                    <mat-error>
                        In-Out merging time value should be between 0-60.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <button class="btn" mat-raised-button [disabled]="!inOutmergingTimeForm.valid" (click)="onSubmitInOutmergingTimeForm(inOutmergingTimeForm.value)" color="primary">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title> Set Range</mat-card-title>
        <mat-card-content>
            <form [formGroup]="rangeForm">
                <mat-form-field>
                    <mat-label>In feet</mat-label>
                    <mat-select formControlName="range">
                        <mat-option [value]=25>25</mat-option>
                        <mat-option [value]=50>50</mat-option>
                        <mat-option [value]=75>75</mat-option>
                        <mat-option [value]=100>100</mat-option>
                    </mat-select>
                    <mat-error>
                        Please select range.
                    </mat-error>
                </mat-form-field><br><br><br>
            </form>
            <button class="btn" mat-raised-button [disabled]="!rangeForm.valid" color="primary" (click)="onSubmitRangeForm(rangeForm.value)">submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>Create Group</mat-card-title>
        <mat-card-content>
            <form [formGroup]="groupRegister">
                <mat-form-field>
                    <mat-label>Enter group name</mat-label>
                    <input type="text" matInput formControlName="groupName" autocomplete="off" required>
                    <mat-error *ngIf="groupRegister.get('groupName').value ==''">
                        Group name is required
                    </mat-error>
                    <mat-error *ngIf="groupRegister.get('groupName').value !='' || general.mismatch">
                        No special characters are allowed.
                    </mat-error>
                </mat-form-field> <br><br><br>
            </form>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!groupRegister.valid" color="primary" (click)="onSubmitGroup(groupRegister.value)">submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('groupName')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>Set Group for Coins</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="groupCoinForm">
                <mat-form-field>
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected5 (click)="toggleAllSelectionCoin2(groupCoinForm)" [value]="0">All
                        </mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId" [disabled]="coin.groupId != null">
                            {{coin.coinName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please select coin(s).
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Select group name</mat-label>
                    <mat-select formControlName="groupId" required>
                        <mat-option *ngFor="let group of groupData" [value]="group._id">{{group.groupName}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Please select group.
                    </mat-error>
                </mat-form-field> <br><br>
            </form>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!groupCoinForm.valid" color="primary" (click)="onSubmitGroupCoinForm(groupCoinForm.value)">submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('coinGrp')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title> Set Time Delay</mat-card-title>
        <mat-card-content>
            <form [formGroup]="timeDelay" id="time">
                <mat-form-field>
                    <mat-label>Select Find</mat-label>
                    <mat-select formControlName="deviceId" multiple>
                        <mat-option #allSelected (click)="toggleAllSelectionDevice(timeDelay)" [value]="0">All
                        </mat-option>
                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">{{find.deviceName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please select Find(s).
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter time delay</mat-label>
                    <input type="number" matInput formControlName="timeDelay" autocomplete="off" required>
                    <mat-error>
                        Please enter valid time delay.
                    </mat-error>
                </mat-form-field> <br><br>
            </form>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!timeDelay.valid" color="primary" (click)="onSubmitTimeDelay(timeDelay.value)">submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('timeDelay')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="text-center">
        <mat-card-title>Set Maximum finds to be assigned</mat-card-title>
        <mat-card-content>
            <form [formGroup]="maxFindForm">
                <mat-form-field>
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected1 (click)="toggleAllSelectionCoins(maxFindForm)" [value]="0">All
                        </mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Please select coin(s).
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Set maximum number of finds to assign</mat-label>
                    <input type="number" matInput formControlName="maxFindAsset" autocomplete="off" required>
                    <mat-error>
                        Please select maximum finds you want to assign.
                    </mat-error>
                </mat-form-field> <br> <br>
            </form>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!maxFindForm.valid" color="primary" (click)="onSubmitMaxFindForm(maxFindForm.value)">submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('max-find')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Define Find transmission power
        </mat-card-title>
        <mat-card-subtitle>
            Enter tx power
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="findTxPowerForm">
                <mat-form-field class="w-75">
                    <mat-label>Select Device</mat-label>
                    <mat-select formControlName="deviceId" multiple>
                        <mat-option #allSelected2 (click)="toggleAllSelectionDevices(findTxPowerForm)" [value]="0">All
                        </mat-option>
                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">
                            {{find.deviceName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please select find(s).
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75">
                    <!-- <mat-label> Choose tx power</mat-label>
                    <mat-select formControlName="txPower" required>
                        <mat-option value="4A">4A</mat-option>
                        <mat-option value="4B">4B</mat-option>
                        <mat-option value="4C">4C</mat-option>
                        <mat-option value="4D">4D</mat-option>
                    </mat-select> -->
                    <mat-label> Enter tx power</mat-label>
                    <input matInput type="number" min="0" formControlName="txPower" required>
                    <mat-error>
                        Choose valid transmission power.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <div class="d-flex justify-content-around">
                <button class="btn" mat-raised-button [disabled]="!findTxPowerForm.valid" (click)="onSubmitFindTxPower(findTxPowerForm.value)" color="primary">Submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('find-txPower')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="text-center">
        <mat-card-title>
            Set Coin Position
        </mat-card-title>
        <mat-card-subtitle>
            Enter Coin Position
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="coinPlacementForm">
                <mat-form-field class="w-75">
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected3 (click)="toggleAllSelectionCoin(coinPlacementForm)" [value]="0">All
                        </mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">
                            {{coin.coinName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please select coin(s).
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75">
                    <mat-label> Choose coin position</mat-label>
                    <mat-select formControlName="coinPlacement" required>
                        <mat-option value="front">Front Facing</mat-option>
                        <mat-option value="back">Back Facing</mat-option>
                        <mat-option value="top">Top Facing</mat-option>
                        <mat-option value="bottom">Bottom Facing</mat-option>
                        <mat-option value="left">Left Facing</mat-option>
                        <mat-option value="right">Right Facing</mat-option>
                    </mat-select>
                    <mat-error>
                        Field required.
                    </mat-error>
                </mat-form-field>
            </form><br>
            <div class="d-flex justify-content-around">
                <button class="btn" mat-raised-button [disabled]="!coinPlacementForm.valid" (click)="onSubmitCoinPlacement(coinPlacementForm.value)" color="primary">Submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('coin-pos')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>




    <mat-card class="text-center">
        <mat-card-title>
            Update Mesh Id
        </mat-card-title>
        <mat-card-subtitle>
            Enter MeshId & choose gateway.
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="meshForm">
                <mat-form-field class="w-75">
                    <mat-label> Mesh Id</mat-label>
                    <input matInput type="number" formControlName="meshId" required>
                    <mat-error>
                        MeshId should be between 0-255.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-75">
                    <mat-label>Gateway Id</mat-label>
                    <mat-select formControlName="gatewayId" required>
                        <mat-option *ngFor="let data of  gateway" [value]="data.gatewayId">{{data.gatewayName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form><br>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!meshForm.valid" color="primary" (click)="onSubmitMeshForm(meshForm.value)">submit</button>
                <button mat-raised-button (click)="openAdminSettingInfo('mesh')" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>User Features</mat-card-title>
        <mat-card-subtitle>Enable or Disable User Features</mat-card-subtitle><br>
        <mat-card-content>
            <form [formGroup]="setUserFeatureForm" class="text-left">
                <mat-checkbox formControlName="enableMap" color="primary">Enable Map</mat-checkbox> <br>
                <mat-checkbox formControlName="enableZone" color="primary" (change)="onFeatureChange($event)">Enable Zone</mat-checkbox><br>
                <mat-checkbox *ngIf="setUserFeatureForm.get('enableZone').value != null && setUserFeatureForm.get('enableZone').value == true" formControlName="enableZoneStandardTime" color="primary">Enable Zone Standard time</mat-checkbox>
            </form> <br><br><br><br> <br>
            <button mat-raised-button color="primary" [disabled]="!setUserFeatureForm.valid" (click)="onSubmitUserFeature(setUserFeatureForm.value)">Submit</button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Define Shift Time
        </mat-card-title>
        <mat-card-subtitle>
            Enter time for each shift
        </mat-card-subtitle>
        <mat-card-content class="shift">
            <mat-error *ngIf="multipleShift">
                You cannot have multiple shift, to update shift click info.
            </mat-error>
            <mat-error *ngIf="timeExceed">
                Time range should be minimum of 09 hours.
            </mat-error>
            <form [formGroup]="shiftForm">
                <mat-form-field class="w-75">
                    <mat-label>Shift Name</mat-label>
                    <mat-select formControlName="shiftName" required>
                        <mat-option value="general">General</mat-option>
                        <mat-option value="morning">Morning</mat-option>
                        <mat-option value="evening">Evening</mat-option>
                        <mat-option value="night">Night</mat-option>
                    </mat-select>
                </mat-form-field><br>
                <mat-form-field class="w-75">
                    <input type='time' matInput placeholder="From time" formControlName="startTime" required>
                    <mat-icon matPrefix>schedule</mat-icon>
                    <mat-error>
                        Please provide a valid from time
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75">
                    <input type='time' matInput placeholder="To time" formControlName="endTime" required>
                    <mat-icon matPrefix>schedule</mat-icon>
                    <mat-error>
                        Please provide a valid to time
                    </mat-error>
                </mat-form-field><br> <br>
            </form>
            <div class="d-flex justify-content-around">
                <button mat-raised-button [disabled]="!shiftForm.valid" color="primary" (click)="onSubmitShiftForm(shiftForm.value)">Submit</button> &nbsp;&nbsp;&nbsp;
                <button at-raised-button mat-raised-button (click)="openDialog()" color="primary">Info</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>